body {
  background-color: #050D21;
  color: #FFFDFB;
  font-family: "Urbanist", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
}

.title {
  margin-bottom: 50px;
  text-align: center;
}

.list_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.item {
  width: 23%;
  padding: 30px 20px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 600;
  background-color:  #1A67F8;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.info {
  margin-top: 10px;
  padding: 5px 20px 20px;
  background-color:  #FFFDFB;
  border-radius: 4px;
  text-align: left;
  z-index: 10;
  display: none;
}

.info_img {
  display: block;
  width: auto;
}

.pokemon_info {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color:   #1A67F8;
}

.active {
  color: #050D21;
  font-weight: 600;
}